{% include "gestion/head.html" %}
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>e-mail</th>
                <th>Cotisation</th>
            </tr>
            {% for a in adherents %}
                <tr>
                    <td>{{ a.surname }}</td>
                    <td>{{ a.firstname }}</td>
                    <td>{{ a.phone }}</td>
                    <td>{{ a.email }}</td>
                    <td>{{ a.adhesion }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>