{% load static %}

<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>AS CEA/ST Section Voile</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static 'css/gestion/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/gestion/tablesort.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'icon/gestion/sailing-boat.ico' %}">
<script src="{% static 'js/gestion/tablesort.min.js' %}"></script>

<body>
    <div class="w3-container">
        <div class="w3-top w3-bar w3-black">
            {% if pageName == "adherents"%}
                <a href="{% url 'adherents' %}" class="w3-bar-item w3-button w3-grey">Adhérents</a>
            {% else %}
                <a href="{% url 'adherents' %}" class="w3-bar-item w3-button">Adhérents</a>
            {% endif %}

            {% if pageName == "materiel"%}
                <a href="{% url 'gear' %}" class="w3-bar-item w3-button w3-grey">Matériel</a>
            {% else %}
                <a href="{% url 'gear' %}" class="w3-bar-item w3-button">Matériel</a>
            {% endif %}

            {% if pageName == "emprunts"%}
                <a href="{% url 'emprunts' %}" class="w3-bar-item w3-button w3-grey">Emprunts</a>
            {% else %}
                <a href="{% url 'emprunts' %}" class="w3-bar-item w3-button">Emprunts</a>
            {% endif %}

            {% if pageName == "repair"%}
                <a href="{% url 'reparations' %}" class="w3-bar-item w3-button w3-grey">Réparations</a>
            {% else %}
                <a href="{% url 'reparations' %}" class="w3-bar-item w3-button">Réparations</a>
            {% endif %}

            {% if pageName == "historique"%}
                <a href="{% url 'historique' %}" class="w3-bar-item w3-button w3-grey">Historique</a>
            {% else %}
                <a href="{% url 'historique' %}" class="w3-bar-item w3-button">Historique</a>
            {% endif %}
        </div>
        <br><br>