{% load static %}
{% include "gestion/head.html" %}
        <input type="text" class="table-filter" data-table="order-table" placeholder="Chercher...">
        <table class="order-table table-sortable w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-grey">
                    <th data-sort="string">Noms Adherents</th>
                    <th data-sort="string">Date</th>
                    <th data-sort="string">Materiel</th>
                </tr>
            </thead>
            <tbody>
            {% for e in emprunts %}
            <tr>
                <td>{{ e.adherent1 }}<br>{% if e.adherent2 %}{{ e.adherent2 }} {% endif %}</td>
                <td>{{ e.startTime.date }}</td>
                <td>
                {{ e.gear1.category.name }}: {{ e.gear1.name }}
                <br>
                {% if e.gear2 %}
                    {{ e.gear2.category.name }}: {{ e.gear2.name }}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <script>document.querySelector('.table-sortable').tsortable()</script>
        <script src="{% static 'js/gestion/tablefilter.js' %}"></script>
    </div>
</body>