{% include "gestion/head.html" %}
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>Noms Adherents</th>
                <th>Date</th>
                <th>Materiel 1</th>
                <th>Materiel 2</th>
                <th>Degats</th>
            </tr>
            {% for e in emprunts %}
            <tr>
                <td>{{ e.adherent1.firstname }} {{ e.adherent1.surname }}<br>{{ e.adherent2.firstname }} {{ e.adherent2.surname }}</td>
                <td>{{ e.startTime.date }}</td>
                <td>
                {% if e.gear1 %}
                    {% if e.gear1.photo %}
                        <img src="{{ e.gear1.photo.url }}" alt="" width="100" height="100">
                    {% else %}
                        {{ e.gear1.category.name }}: {{ e.gear1.name }}
                    {% endif %}
                {% endif %}
                </td>
                <td>
                {% if e.gear2 %}
                    {% if e.gear2.photo %}
                        <img src="{{ e.gear2.photo.url }}" alt="" width="100" height="100">
                    {% else %}
                        {{ e.gear2.category.name }}: {{ e.gear2.name }}
                    {% endif %}
                {% endif %}
                </td>
                <td>
                    {% if e.isDamaged %}
                    	V
                    {% else %}
                        X
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>