{% include "gestion/head.html" %}
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>Noms Adherents</th>
                <th>Depart</th>
                <th>Materiel 1</th>
                <th>Materiel 2</th>
                <th>Retour</th>
                <th>Degats</th>
            </tr>
            {% for e in sortis %}
                <tr>
                    <td>{{ e.adherent1 }}<br>{% if e.adherent2 %}{{ e.adherent2 }} {% endif %}</td>
                    <td>{{ e.startTime.time }}</td>
                    <td>
                    {% if e.gear1 %}
                        {% if e.gear1.photo %}
                            <img src="{{ e.gear1.photo.url }}" alt="" width="100" height="100">
                        {% else %}
                            {{ e.gear1 }}
                        {% endif %}
                    {% endif %}
                    </td>
                    <td>
                    {% if e.gear2 %}
                        {% if e.gear2.photo %}
                            <img src="{{ e.gear2.photo.url }}" alt="" width="100" height="100">
                        {% else %}
                            {{ e.gear2 }}
                        {% endif %}
                    {% endif %}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        <tr>
            <th scope="row" colspan="6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <input type="submit" value="Nouvel Emprunt">
                </form>
            </th>
        </tr>
        <tr>
            <th scope="row" colspan="6"><h1 class="l1">Retours</h1></th>
        </tr>
        {% for e in rentres %}
            <tr>
                <td>{{ e.adherent1 }}<br>{% if e.adherent2 %}{{ e.adherent2 }} {% endif %}</td>
                <td>{{ e.startTime.time }}</td>
                <td>
                {% if e.gear1 %}
                    {% if e.gear1.photo %}
                        <img src="{{ e.gear1.photo.url }}" alt="" width="100" height="100">
                    {% else %}
                        {{ e.gear1 }}
                    {% endif %}
                {% endif %}
                </td>
                <td>
                {% if e.gear2 %}
                    {% if e.gear2.photo %}
                        <img src="{{ e.gear2.photo.url }}" alt="" width="100" height="100">
                    {% else %}
                        {{ e.gear2 }}
                    {% endif %}
                {% endif %}
                </td>
                <td>{{ e.returnTime.time }}</td>
                <td>
                    {% if e.isDamaged %}
                    	V
                    {% else %}
                        X
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>