{% include "gestion/head.html" %}
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>Noms Adherents</th>
                <th>Depart</th>
                <th>Materiel 1</th>
                <th>Materiel 2</th>
                <th>Retour</th>
                <th>Degats</th>
            </tr>
            {% for e in emprunts %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>