
{% include "gestion/header.html" %}
<body>
<h1>Gestion Adherents</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Categorie</th>
        <th>Dernier utilisateur</th>
        <th>Derniere utilisation</th>
        <th>A reparer</th>
        <th>Photo</th>
    </tr>
    </thead>
    <tbody>
    {% for m in gear %}
        <tr>
        <th>{{ m.id }}</th>
        <td>{{ m.name }}</td>
        <td>{{ m.category.name }}</td>
        <td>{{ m.lastUsed.firstname }} {{ m.lastUsed.surname }}</td>
        <td>{{ m.lastUsedDate}}</td>
        {% if m.toRepair == True %}
            <td>V</td>
        {% else %}
            <td>X</td>
        {% endif %}
        {% if m.photo %}
            <td><img src="{{ m.photo.url }}" alt=""></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>

{% include "gestion/footer.html" %}
