{% include "gestion/head.html" %}
        <table class="table-sortable w3-table-all w3-hoverable">
            <tr>
                <thead>
                <th data-sort="string">Nom</th>
                <th data-sort="string">Categorie</th>
                <th data-sort="string">Photos</th>
                <th data-sort="string">A reparer</th>
                </thead>
            </tr>
            <tbody>
            {% for m in materiel %}
                <tr>
                    <td>{{ m.name }}</td>
                    <td>{{ m.category.name }}</td>

                    <td>
                        {% if m.photo %}
                            <img src="{{ m.photo.url }}" alt="" width="100" height="100">
                        {% else %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ addImageForm.as_div }}
                                <input type="hidden" name="id" value="{{ m.id }}">
                                <input type="submit" name="action" value="Envoyer">
                            </form>
                        {% endif %}
                    </td>
                    {% if m.toRepair %}
                    	<td>V</td>
                    {% else %}
                    	<td>X</td>
                    {% endif %}
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>document.querySelector('.table-sortable').tsortable()</script>

        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ newGearForm }}
                <input type="submit" name="action" value="Ajouter">
            </form>
        </div>
    </div>
</body>