{% load static %}
{% include "gestion/head.html" %}

<style>
textarea {
    width: 1000px;
    height: 30px;
    min-height: 30px;
    max-height: 100px;
    resize: vertical;
  }</style>

<div class="w3-light-gray" style=" margin: 5px 0 5px 0; border: 1px solid #ccc; padding: 5px;">
                <h4 style="margin: 0">Ajouter Réparation :</h4>
                <form method="post">
                    {% csrf_token %}
                    <div style="display: inline-block; vertical-align: top;">
                        <div>
                            <label for="{{ repaForm.gear.id_for_label }}">{{ repaForm.gear.label }} :</label>
                            {{ repaForm.gear }}
                        </div>
                    </div>
                    <div style="display: inline-block; vertical-align: middle;">
                        <div>
                            <label for="{{ repaForm.commentaire.id_for_label }}" style="vertical-align: top; ">{{ repaForm.commentaire.label }} :</label>
                            {{ repaForm.commentaire }}
                        </div>
                    </div>

                    <input type="submit" name="action" value="Ajouter">

                </form>
    </div>

<table class="table-sortable w3-table-all w3-hoverable">
    <thead>
        <tr class="w3-grey">
            <th data-sort="string">Materiel</th>
            <th data-sort="string">Date</th>
            <th data-sort="string">Commentaire</th>
            <th>Reparé</th>
        </tr>
    </thead>
    <tbody>
    {% for r in reparations %}
        <tr>
            <td>{{ r.gear }}</td>
            <td>{{ r.dateDebut.date }}</td>
            <td>{{ r.commentaire }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ r.id }}">
                    <input type="submit" name="action" value="Reparé">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>document.querySelector('.table-sortable').tsortable()</script>
</div>
</body>

<script src="{% static 'js/gestion/docsupport/init.js' %}" type="text/javascript" charset="utf-8"></script>
