{% include "gestion/head.html" %}
<table class="table-sortable w3-table-all w3-hoverable">
    <tr>
        <thead>
        <th data-sort="string">Nom</th>
        <th data-sort="string">Categorie</th>
        <th>Photos</th>
        <th data-sort="string">A reparer</th>
        </thead>
    </tr>
    <tbody>
    {% for m in reparer %}
        <tr>
            <td>{{ m.name }}</td>
            <td>{{ m.category.name }}</td>

            <td>
                {% if m.photo %}
                    <img src="{{ m.photo.url }}" alt="" width="100" height="100">
                {% endif %}
            </td>
            {% if m.toRepair %}
                <td>V</td>
            {% else %}
                <td>X</td>
            {% endif %}
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>document.querySelector('.table-sortable').tsortable()</script>
</div>
</body>